@page
<head>
    <title>Kyle Brady's Personal Website</title>
</head>
<body>
    <div class="main">
        <h1>My Academic Career and Accomplishments</h1>
        <p>
            Throughout my career I have been a fairly good student. In High School
            I maintained a 3.7 GPA while taking honors and AP courses. After High
            School I decided to pursue an academic career at Baldwin Wallace
            University in the Computer Science program. While enrolled at Baldwin
            Wallace I was able to maintain a good GPA in challenging courses. As
            a freshman I was enrolled in discrete mathematics, a C# programming
            course and another intro to programming, which used python. After
            a year at Baldwin Wallace I was dealing with a back injury that
            effectively ended my wrestling career. After this I decided to move
            home and transfer to UC into the Information Technology program.
            I am interested to see, how many of the people who view my page
            attended a college or university, please fill out the form below.
        </p>
    </div>
    <div class="container">
        <form action="action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="Y/N">Did you attend a college or university?(Yes or No)</label>
            <input type="text" id="collegeid" name="idcollege" placeholder="Did you attend?...">
            <label for="College">If Yes, Which college or university? If, no put n/a.</label>
            <textarea id="college" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <label for="years">How many years ago did you attend college/university?</label>
            <input type="text" id="years" name="idyears" placeholder="How many years? If none put 0...">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
