@page
<html>
<head>
    <title>Kyle Brady's Personal Portfolio</title>
</head>
<body>
    <div class="main">
        <div>
            <img src="hs_wrestling.jpg" alt="Me wrestling in High School." align="right">
        </div>
        <div>
            <img src="wrestling_award.jpg" alt="My wrestling award for being hard working." align="left">
        </div>
        <h1>My Athletic Career and Accomplishments</h1>
        <p>
            My athletic career began when I was very young. I began playing football
            and soccer when I was very young, playing on a team for 1st graders when
            I was in Kindergarten. Soon though, by around the 4th grade I quit soccer
            and began to wrestle. When I first began wrestling I hated it and only
            received one 4th place medal for the entire year. My father encouraged
            me to continue wrestling, so I did and eventually I began to love it.
            When I broke my back and had to have surgery I decided I wanted to focus
            on one sport and attempt to play in college so I could get back the years
            I missed due to my injury. I quit football, and baseball and began to wrestle
            year round. Soon enough I was asked to wrestle for a couple Division 3 teams
            such as, Baldwin Wallace, John Carroll, and Ohio Northern University. After
            visiting each school I decided that I would attend Baldwin Wallace University
            as a freshman. I loved my experience wrestling in college, however I was in a
            ton of back pain. I missed 6 weeks of the season and saw 4 back specialists,
            at least a dozen trainers, as well as massage therapists and chiropractors,
            I decided that the daily pain I was in was too much and I had to give up the
            sport I loved most. I had a good year at Baldwin Wallace, I loved the team
            and as far as I could tell they liked me too. My coach even asked me to stay
            at the school and remain a student-coach. I had missed two years in high school
            already, I did't want to be so close to the sport and yet stuck on the sidelines.
            I wanted to come closer to home as BW was 4 hours away, so I decided to transfer
            home to the University of Cincinnati and continue studying Information Technology.
        </p>
    </div>
</body>
</html>