@page
<html>
<head>
    <title>Kyle Brady's Personal Portfolio</title>=1.0">
</head>
<body>
    <div class="main">
        <h1>My Back Surgery Experience</h1>
        <p>
            When I was 16 I was a sophomore in High School. I had just begun my
            wrestling season for that year and I was in a lot of back pain. At
            the time I had gone to see my school trainer, but he thought that it
            was just a muscular issue I was having. Eventually the pain got so
            bad I was taking 6-8 over the counter pain killers before every single
            match and it still was not helping with the pain. During one match I
            was thrown to my back causing it to torque and twist. I went down and
            did not get back up. The pain was to much to handle and I could not
            walk. This was when my parents talked me into to going see a spine
            specialist. The surgeon was a UC doctor and was well known. He told
            me that over the course of time I have been wrestling I fractured
            both sides of my L$ vertebrate in my lower back. I was heart-broken,
            to say the least. My goals of wrestling in college seemed nearly
            impossible to me now. The surgery was extremely terrifying. The nurse
            decided to give me something through my IV before we even went back
            to get anesthesia because I was so nervous. We went back and I was
            put under for hours while they performed the surgery adding clamps,
            hooks, and wires to my back while also transferring bone marrow as
            I understand it to heal the broken bone. I was in the hospital for
            nearly a week and I was in tremendous pain, taking morphine for a few
            days before they switched me to prescription pain killers. The pain
            was awful and the recovery was long. It was almost a month after
            before I was able to climb any stairs or lift more than a gallon of
            milk. I learned a lot from having this surgery and having to deal
            with the pain. I made it through the long nearly 10 month recovery
            and was able to return for my senior year of wrestling and then
            continue for a year in college, as stated in other pages. I'm blessed
            to have been able to do that after all that has happened and even
            though my career as a wrestler is over I will always believe I learned
            a lot from this surgery and my experience.
        </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WID1p_UJZIM" frameborder="0" allowfullscreen>
    </iframe>
</body>
</html>