@page
<html>
<head>
    <title>Kyle Brady's Personal Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>
<body>
    <div class="main">
        <h1>Impact</h1>
        <p>
            The impact of this page is to hopefully spark some interest in someone about me or the sport of wrestling.
            The hope is that from hearing my story and seeing the success of other wrestlers someone who may never have
            even watched the sport may be interested in starting to learn it. Wrestling is one of the most entertaining
            and underrated sports that there is and hopefully the viewers of this site will see that and give it a chance.
        </p>
    </div>
    <table style='width: 100%'>
        <caption>Timeline of Events</caption>
        <tr>
            <th>Year</th>
            <th colspan='1'>Event</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>2014</td>
            <td>Pain was first noticed during freshman year of High School.</td>
            <td>15</td>
        </tr>
        <tr>
            <td>2015</td>
            <td>Injury is diagnosed and surgery is performed 8 months later.</td>
            <td>16</td>
        </tr>
        <tr>
            <td>2016-2017</td>
            <td>I return to wrestling for my senior year and eventually get recruited by Baldwin Wallace.</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2017-2018</td>
            <td>I wrestle for Baldwin Wallace University and tweak my back again putting me out for 6 weeks.</td>
            <td>19</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>I decide wrestling causes me too much pain and decide to transfer home to UC.</td>
            <td>20</td>
        </tr>
    </table>
</body>
</html>